<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>About</title>
</head>
<body>

<h2>About Us!</h2>
<h3 style="text-align: center;">Welcome To Skate Shop</h3>
<p>Skate Shop is a Professional Skating Platform. Here we will provide you with only the best parts and builds,
    which you will like very much. We're dedicated to providing you the best of skating, with a focus on dependability and quality. We're working to turn our passion for skating
    into a booming online business. We hope you enjoy our builds as much as we enjoy offering them to you.</p>
<p style="font-weight: bold; text-align: center;">Thanks For Visiting Our Site<br><br>

    <a href="http://localhost:8080">Go Home</a>
</body>
</html>